.side-menu {
	width: 100%;
	/* Mask: */
	background: color(white);
	border: 1px solid rgba(207,207,207,0.25);
	box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.17);
	border-radius: rem-calc(4);
	position: relative;
	z-index: 200;
	margin-bottom: $padding * 4;

	.menu-items {
		li > ul {
			position: absolute;
			right: -100%;
			top: 0;
			background-color: color(white);
			border: 1px solid rgba(207,207,207,0.25);
			box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.17);
			border-radius: rem-calc(4);
			z-index: 100;
			width: 100%;
			transform: translateX(-1%);
		}
	}

	.memu-image {
		img {
			width: 100%;
			float: left;
		}
	}

	li {
		font-size: rem-calc(14);
		width: 100%;
		position: relative;

		@media #{$large-up} {
			font-size: rem-calc(16);
		}

		&:first-child {
			a {
				padding-top: $padding;
			}
		}

		&:last-child {
			border-bottom-right-radius: rem-calc(4);
			border-bottom-left-radius: rem-calc(4);

			a {
				padding-bottom: $padding;
			}
		}

		&.promiment {
			background-color: color(primary);

			a {
				color: color(white);

				&:hover {
					color: rgba(color(white), 0.5);
				}
			}
		}

		&.semi-prominent {
			background-color: lighten(color(primary), 58%);

			&:hover {
				background-color: lighten(color(primary), 50%);
			}
		}

		&:hover {
			background-color: lighten(color(primary), 62%);
		}

	}

	a {
		display: block;
		color: lighten(color(gray-light), 20%);
		padding-left: $padding * 1.5;
		padding-right: $padding * 1.5;
		padding-top: $padding * 0.3;
		padding-bottom: $padding * 0.3;
		text-decoration: none;
		transition: color 0.2s ease-out;
		font-weight: 400;

		&:hover {
			color: color(primary);
		}
	}

	.dropdown {
		&:after {
			content: "\e90c";
			font-family: 'icomoon';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			color: lighten(color(gray-light), 40%);
			font-size: rem-calc(12);
			position: relative;
			//top: rem-calc(-1);
			padding-left: $padding * 0.3;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		&:hover {
			&:after {
				color: color(primary);
			}
		}
	}
}