.footer {
  font-size: 90%;
  font-weight: 600;

  ul {
    margin-left: 0;
  }

  a {
    color: $black;
  }

  li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  .copyright {
    border-top: rem-calc(1) solid rgba($color: $black, $alpha: 0.2)
  }

  .sponsors {
    a,
    img {
      display: inline-block;
    }

    img {
      max-height: rem-calc(60);
      padding-right: rem-calc(8);
      padding-top: rem-calc(8);
      padding-bottom: rem-calc(8);
    }

    @include breakpoint(medium up) {
      img {
        padding: rem-calc(8);
        padding-left: rem-calc(20);
      }
    }

  }
}