.partners-and-sponsors {
  @include xy-grid-container();
  padding-top: rem-calc(40);
  padding-bottom: rem-calc(40);
  text-align: center;

  &__title {
    font-weight: 600;
  }
}

.sponsors-rail {
  @include xy-grid;
  @extend .align-center-middle;
  white-space: nowrap;
  padding-top: rem-calc(30);
  padding-bottom: rem-calc(30);

  img {
    max-height: rem-calc(60);
    margin: rem-calc(20);

    @include breakpoint(medium up) {
      max-height: rem-calc(80);
      margin: rem-calc(40);
    }
  }
}