- 
  const footerLinks = [
  [{
    url: "/",
    title: "LFW"
  },
  {
    url: "/about",
    title: "About"
  }, 
  {
    url: "/blog",
    title: "Blog"
  },
  {
    url: "/contact",
    title: "Contact",
  }, 
  {
    url: "/designer-applications",
    title: "Designer Applications"
  }],
  [{
    url: "/lfw2020/calendar",
    title: "Calendar"
  },
  {
    url: "/lfw2020/designers",
    title: "Designers"
  }, 
  {
    url: "/lfw2020/event-guide",
    title: "Event Guide"
  },
  {
    url: "/previous-seasons",
    title: "Previous Seasons",
  }, 
  {
    url: "/lfw2020/designers",
    title: "Designers"
  }],
  [{
    url: "/lfw2020/xretail",
    title: "Xretail"
  }]
  ]