footer.footer.mt-pad
  .grid-x
    .links
      ul
        li
          a(href='/' title='GBC Home') Home
        li
          a(href='/about.html' title='About GBC - Gbenga Biobaku & Co.') About
        li
          a(href='/team.html' title='Team') Team
        li
          a(href='/publications.html' title='GBC Publications') Publications
        li
          a(href='/news.html' title='News') News
        li
          a(href='/contact.html' title='Contact GBC') Contact
        li
          a(href='/careers.html' title='GBC Careers') Careers
      ul
        li
          a(href='/expertise.html' title='Our Expertise at GBC') Expertise
        li
          a(href='/expertise.html#oil-and-gas' title='Oil and Gas') Oil and Gas
        li
          a(href='/expertise.html#energy-and-projects' title='Energy and Projects Expertise') Power Projects
        li
          a(href='/expertise.html#general-corporate-commercia' title='General Corporate Commercial') General Corporate Commercial
        li
          a(href='/expertise.html#business-advisory' title='Business Advisory') Business Advisory
        li
          a(href='/expertise.html#litigation-and-arbitration' title='Litigation & Arbitration') Litigation &amp; Arbitration
        li
          a(href='/expertise.html#intellectual-property' title='Intellectual Property') Intellectual Property (IP)
    .social-and-awards
      .social
        span.icon-linkedin &nbsp;
      .awards
        img(src='/assets/images/award-iflir-2015.png' alt='IFLR 1000 2015' width='130')
      .awards
        img(src='/assets/img/corporateintl-global-award-winner-2010.png' alt='Corporate INTL Global Awards 2010 - Business formation legal advisory firm of the year in Nigeria' width='130')
      .awards
        img(src='/assets/images/award-tag-law.png' alt='Tag Law' width='242')
  .grid-x.bottom
    ul
      li
        a(href='/sitemap.html' title='Sitemap') Sitemap
      li
        a(href='/credics-and-disclaimer.html' title='Credits & Disclaimer') Credis
script(src='/assets/js/jquery.min.js')
script(src='/assets/js/TweenMax.min.js')
script(src='/assets/js/jquery.cycle2.min.js')
script(type='text/javascript' src='//wurfl.io/wurfl.js')
script(src='/assets/js/slick.min.js')
script(src='/assets/js/app.js')
