header.header
  .grid-container.position-relative
    .grid-x
      nav.nav
        .menu
          .icon-circle
          .icon
        ul.jsMenuElem
          li
            a(href='/' title='GBC Home') Home
          li
            a(href='/about.html' title='About GBC') About
          li
            a(href='/team.html' title='Team') Team
          li
            a(href='/expertise.html' title='Our Expertise at GBC') Expertise
          li
            a(href='/Publications.html' title='Publications and Periodicals') Publications
          li
            a(href='/news.html' title='News') News
          li
            a(href='/contact.html' title='Contact GBC') Contact
          li
            a(href='/careers.html' title='GBC Careers') Careers
      .logo.mt-pad
        a(href='/' title='GBC Biobaku & Co.')
          img(src='/assets/img/GBC-Gbenga-Biobaku-&-Co.svg' alt='GBC - Gbenga Biokbaku & Co' width='200')
