doctype html
head
  meta(charset='UTF-8')
  title GBC - Gbenga Biobaku &amp; Co. - Barristers &amp; Solicitors
  meta(name='viewport' content='width=device-width, maximum-scale=1, initial-scale=1')
  script(src='https://use.typekit.net/chx6pfs.js')
  script.
    try{Typekit.load({ async: true });}catch(e){}
  // Compressed CSS
  link(rel='stylesheet' href='/assets/css/slick.css')
  link(rel='stylesheet' href='/assets/css/slick.theme.css')
  link(rel='stylesheet' href='/assets/css/foundation.min.css')
  link(rel='stylesheet' href='/assets/css/fonts.css')
  link(rel='stylesheet' href='/assets/css/app.css')
  link(rel='stylesheet' href='/assets/css/main.css')
body.striped-background.striped--extended
  include _header
  block content
  include _footer