extends _layout
block content
  .container.container-gray.container-extra-pad.careers.position-relative
    .grid-container
      .grid-x
        .cell.medium-6.large-5
          h1.beta.c-p.mt-pad Careers
          .side-image-wrapper
            img(src='/assets/img/careers.jpg' alt='GBC Careers')
          .content.mt-pad
            h3.omega.text-serif.text-light
              | We believe that the key to our success is not only the knowledge of our client&rsquo;s industry and our general commercial awareness, but our interest in recruiting highly capable individuals and providing a very conducive environment to nurture their ambitions to reach for the top.
            p.text-sans
              | We are constantly looking for individuals who are highly capable and motivated to meet the challenges of a growing industry. if you meet this criteria, please email your resume to 
              strong careers@gbc-law.com
            .section__cta
              .section--xsmall
                a.button(href='#')
                  span.icon.icon-caret-left
                  | Open Opportunities
              div
                a.button(href='#')
                  span.icon.icon-caret-left
                  | Internship
