extends _layout
block content
  .grid-container.full.contact(style='background-image: url(/assets/img/contact-bg.jpg);')
    .grid-container
      .grid-x
        .cell.content.medium-6.large-4
          h1.beta.c-p
            | Contact
          p
            strong Office Address:
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;11, Babafemi Osoba Crescent 
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;Off Admiralty Road, Lekki Phase 1, 
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;P.O.Box 72250 Victoria Island, Lagos.
          p
            strong T: 
            |  +234-1- 2717769,
            br
            strong DLS: 
            |  +234-1-2706382 , +234-1-2707320.
            strong FAX: 
            |  Fax: 234-1- 2707320 
            br
            strong E: 
            |  info@gbc-law.com 
            br
          .section--medium
            .contact__map-wrapper
              img(src='/assets/images/map.png' alt='location')
