extends _layout
block content
  .container.container-extra-pad
    .pbb
    .grid-x
      .cell.large-6.large-offset-3.text-center.grid-x.pbb
        h1.h4.text-serif.medium-8.medium-offset-2.mt-pad.pbb
          | Gbenga Biobaku &amp; Co. is a leading provider of business driven legal services.
          | With a team with vast and varied experience in the legal and business space, our services continue to improve the way legal, compliance and business is being done in Nigerian.
        .grid-x
          .accordion
            h1.accordion_header
              | Oil &amp; Gas 
              span.icon.icon-open.icon-open-alt
            .accordion_content
              .body
                p
                  | Gbenga Biobaku &amp; Co. has developed an extensive Energy Project Development practice, representing parties on both sides of the spectrum. Our expertise encompasses the oil and gas, power, mining and infrastructure sectors of the Nigerian economy.
                p
                  | As counsel to some major and developing energy players, GBC project scope has covered securing foreign investment, project financing transactions, advisory, federal regulatory approvals, operations and maintenance contracts, site acquisitions and other related corporate and commercial transactions.
                p
                  | With the recent divestments and local participation law and the influx of foreign investment in the Nigerian Oil and Gas industry, GBC has been recognized for its ability to prescribe working business modules, and joint venture arrangements that ensures return on investment (ROI) for investors and the protection and sustainability of its indigenous clients.
                p
                  | Our team has substantial experience in advising foreign and indigenous investors in Nigeria on energy projects financing. We also provide the necessary framework for obtaining the necessary regulatory and business approval for doing business in the energy, mining and oil and gas sectors.
                section.areas-of-interest
                  h1.heading Areas of Interest
                  ul.list
                    li Employment + Labour
                    li Environment
                    li Professional Liability
                    li Dispute Resolution
                    li Mediation &amp; Arbitration
                    li Taxation
                    li Trade Disputes
                    li Debt Recovery
                    li Corporate Governance
                    li Contracts
                    li Securities Litigation
          .accordion
            h1.accordion_header
              | Power &amp; Projects 
              span.icon.icon-open.icon-open-alt
            .accordion_content
              .body
                p
                  | Gbenga Biobaku &amp; Co. has developed an extensive Energy Project Development practice, representing parties on both sides of the spectrum. Our expertise encompasses the oil and gas, power, mining and infrastructure sectors of the Nigerian economy.
                p
                  | As counsel to some major and developing energy players, GBC project scope has covered securing foreign investment, project financing transactions, advisory, federal regulatory approvals, operations and maintenance contracts, site acquisitions and other related corporate and commercial transactions.
                p
                  | With the recent divestments and local participation law and the influx of foreign investment in the Nigerian Oil and Gas industry, GBC has been recognized for its ability to prescribe working business modules, and joint venture arrangements that ensures return on investment (ROI) for investors and the protection and sustainability of its indigenous clients.
                p
                  | Our team has substantial experience in advising foreign and indigenous investors in Nigeria on energy projects financing. We also provide the necessary framework for obtaining the necessary regulatory and business approval for doing business in the energy, mining and oil and gas sectors.
                section.areas-of-interest
                  h1.heading Areas of Interest
                  ul.list
                    li Employment + Labour
                    li Environment
                    li Professional Liability
                    li Dispute Resolution
                    li Mediation &amp; Arbitration
                    li Taxation
                    li Trade Disputes
                    li Debt Recovery
                    li Corporate Governance
                    li Contracts
                    li Securities Litigation
          .accordion
            h1.accordion_header
              | General Corporate Commercial 
              span.icon.icon-open.icon-open-alt
            .accordion_content
              .body
                p
                  | Gbenga Biobaku &amp; Co. has developed an extensive Energy Project Development practice, representing parties on both sides of the spectrum. Our expertise encompasses the oil and gas, power, mining and infrastructure sectors of the Nigerian economy.
                p
                  | As counsel to some major and developing energy players, GBC project scope has covered securing foreign investment, project financing transactions, advisory, federal regulatory approvals, operations and maintenance contracts, site acquisitions and other related corporate and commercial transactions.
                p
                  | With the recent divestments and local participation law and the influx of foreign investment in the Nigerian Oil and Gas industry, GBC has been recognized for its ability to prescribe working business modules, and joint venture arrangements that ensures return on investment (ROI) for investors and the protection and sustainability of its indigenous clients.
                p
                  | Our team has substantial experience in advising foreign and indigenous investors in Nigeria on energy projects financing. We also provide the necessary framework for obtaining the necessary regulatory and business approval for doing business in the energy, mining and oil and gas sectors.
                section.areas-of-interest
                  h1.heading Areas of Interest
                  ul.list
                    li Employment + Labour
                    li Environment
                    li Professional Liability
                    li Dispute Resolution
                    li Mediation &amp; Arbitration
                    li Taxation
                    li Trade Disputes
                    li Debt Recovery
                    li Corporate Governance
                    li Contracts
                    li Securities Litigation
          .accordion
            h1.accordion_header
              | Business Advisory 
              span.icon.icon-open.icon-open-alt
            .accordion_content
              .body
                p
                  | Gbenga Biobaku &amp; Co. has developed an extensive Energy Project Development practice, representing parties on both sides of the spectrum. Our expertise encompasses the oil and gas, power, mining and infrastructure sectors of the Nigerian economy.
                p
                  | As counsel to some major and developing energy players, GBC project scope has covered securing foreign investment, project financing transactions, advisory, federal regulatory approvals, operations and maintenance contracts, site acquisitions and other related corporate and commercial transactions.
                p
                  | With the recent divestments and local participation law and the influx of foreign investment in the Nigerian Oil and Gas industry, GBC has been recognized for its ability to prescribe working business modules, and joint venture arrangements that ensures return on investment (ROI) for investors and the protection and sustainability of its indigenous clients.
                p
                  | Our team has substantial experience in advising foreign and indigenous investors in Nigeria on energy projects financing. We also provide the necessary framework for obtaining the necessary regulatory and business approval for doing business in the energy, mining and oil and gas sectors.
                section.areas-of-interest
                  h1.heading Areas of Interest
                  ul.list
                    li Employment + Labour
                    li Environment
                    li Professional Liability
                    li Dispute Resolution
                    li Mediation &amp; Arbitration
                    li Taxation
                    li Trade Disputes
                    li Debt Recovery
                    li Corporate Governance
                    li Contracts
                    li Securities Litigation
                .icon.icon-close
          .accordion
            h1.accordion_header
              | Litigation &amp; Arbitration 
              span.icon.icon-open.icon-open-alt
            .accordion_content
              .body
                p
                  | Gbenga Biobaku &amp; Co. has developed an extensive Energy Project Development practice, representing parties on both sides of the spectrum. Our expertise encompasses the oil and gas, power, mining and infrastructure sectors of the Nigerian economy.
                p
                  | As counsel to some major and developing energy players, GBC project scope has covered securing foreign investment, project financing transactions, advisory, federal regulatory approvals, operations and maintenance contracts, site acquisitions and other related corporate and commercial transactions.
                p
                  | With the recent divestments and local participation law and the influx of foreign investment in the Nigerian Oil and Gas industry, GBC has been recognized for its ability to prescribe working business modules, and joint venture arrangements that ensures return on investment (ROI) for investors and the protection and sustainability of its indigenous clients.
                p
                  | Our team has substantial experience in advising foreign and indigenous investors in Nigeria on energy projects financing. We also provide the necessary framework for obtaining the necessary regulatory and business approval for doing business in the energy, mining and oil and gas sectors.
                section.areas-of-interest
                  h1.heading Areas of Interest
                  ul.list
                    li Employment + Labour
                    li Environment
                    li Professional Liability
                    li Dispute Resolution
                    li Mediation &amp; Arbitration
                    li Taxation
                    li Trade Disputes
                    li Debt Recovery
                    li Corporate Governance
                    li Contracts
                    li Securities Litigation
                .icon.icon-close
          .accordion
            h1.accordion_header
              | Intellectual Property (IP) 
              span.icon.icon-open.icon-open-alt
            .accordion_content
              .body
                p
                  | Gbenga Biobaku &amp; Co. has developed an extensive Energy Project Development practice, representing parties on both sides of the spectrum. Our expertise encompasses the oil and gas, power, mining and infrastructure sectors of the Nigerian economy.
                p
                  | As counsel to some major and developing energy players, GBC project scope has covered securing foreign investment, project financing transactions, advisory, federal regulatory approvals, operations and maintenance contracts, site acquisitions and other related corporate and commercial transactions.
                p
                  | With the recent divestments and local participation law and the influx of foreign investment in the Nigerian Oil and Gas industry, GBC has been recognized for its ability to prescribe working business modules, and joint venture arrangements that ensures return on investment (ROI) for investors and the protection and sustainability of its indigenous clients.
                p
                  | Our team has substantial experience in advising foreign and indigenous investors in Nigeria on energy projects financing. We also provide the necessary framework for obtaining the necessary regulatory and business approval for doing business in the energy, mining and oil and gas sectors.
                section.areas-of-interest
                  h1.heading Areas of Interest
                  ul.list
                    li Employment + Labour
                    li Environment
                    li Professional Liability
                    li Dispute Resolution
                    li Mediation &amp; Arbitration
                    li Taxation
                    li Trade Disputes
                    li Debt Recovery
                    li Corporate Governance
                    li Contracts
                    li Securities Litigation
                .icon.icon-close
          .pbb
          .grid-x.container-extra-pad.mt-pad
            .cell.medium-8.medium-offset-2
          .grid-container.grid-x.grid-margin-x.grid-margin-y
            .cell.medium-4.large-6.expertise__image-wrapper
              img(src='/assets/images/fiber.png')
            .cell.medium-8.large-6.text-left
              p
                | In the last 15 years, the Nigerian Economy has recorded significant growth and has now overtaken South Africa to become the largest economy in Africa. A lot of the growth has been spurred by the emergence and high level of activities in such new sectors as telecoms, entertainment, information technology and e-commerce. This has been accompanied by the development of new ideas and innovation. The importance of protecting these ideas and innovations cannot be over-emphasized.
              p
                | GBC provides legal support to its clients on all aspects of intellectual property protection and enforcement. We provide practical and commercial legal advice at every stage in the life and development of an intellectual property right, from creation and exploitation to protection and enforcement. In particular, we assist in the registration of Patents, Trademarks and Industrial designs, and processing of approvals from NOTAP for Technical Services Agreements, Licensing Agreements and other Technical Transfer Agreements.
          .grid-x.align-center.section--medium
            a.button(href='/cases-and-results.html')
              | Cases &amp; Results
              span.icon.icon-caret-right
