extends _layout
block content
  .grid-container.full.container-extra-pad.container-gray
    .grid-container
      .grid-x.mt-pad
        .cell.medium-3.s-hide
          a.button.prevPageBtn(href='#')
            span.icon.icon-caret-left
            | Previous Page
        .cell.medium-6.end
          h1.c-p.beta.text-center.nmb News

  .grid-container.container-gray.full
    .grid-container
      .news-container
        div
          h2.text-sans ANOTHER FEATHER IN HER CAP
          p
          p
            strong
              | Our Partner/ Director Administration Inducted into the Institute of Chartered Secretaries of Nigeria (ICSAN)
          p
          a.button.button-large(href='http://localhost:8200/news/another-feather-in-her-cap')
            | Read More
            span.icon.icon-caret-right
        div
          h2.text-sans GBC APPOINTS NEW LITIGATION PARTNER
          p
          p
            | Gbenga Biobaku &amp; Co. (GBC) is pleased to announce the promotion of Ayoade Oluwasanmi to partnership of the firm.
          p
          a.button.button-large(href='http://localhost:8200/news/the-addition-of-mr-ayoade-oluwasanmi-as-a-partner-in-gbclaw')
            | Read More
            span.icon.icon-caret-right
        div
          h2.text-sans The Senate passes Electoral Act (Amendment) Bill
          p
          p
            | Months after the President withheld his assent on the&nbsp;Electoral Act (Amendment) Bill, the Senate has passed another version of the Bill. The amendments on this version of the Bill also addressed the issues raised by the President in the previous version.
          p
          a.button.button-large(href='http://localhost:8200/news/the-senate-passes-electoral-amendment-act')
            | Read More
            span.icon.icon-caret-right
        div
          h2.text-sans GBC joins TAGLaw&reg;, a worldwide alliance of more than 160 independent law firms.
          p
          p
            | Gbenga Biobaku &amp; Co. (GBC) becomes a member of TAGLaw&reg;, a worldwide alliance of more than 160 independent law firms. TAGLaw ranks as one of the largest legal alliances in the world. Together with its sister alliance of 115+ independent accounting firms, TIAG&reg;, TAG Alliances&trade; serve tens of thousands of clients from all industry and commercial sectors. GBC will be the exclusive member of TAGLaw for Nigeria and through our membership in TAGLaw, we can provide our clients with access to attorneys in all the countries where TAGLaw has members.
          p
          a.button.button-large(href='http://localhost:8200/news/gbc-joins-taglaw-a-worldwide-alliance-of-more-than-160-independent-law-firms')
            | Read More
            span.icon.icon-caret-right
