extends _layout
block content
  .grid-container.container-extra-pad
    .grid-x.mt-pad
      .cell.medium-3
        a.button(href='/case-studies.html')
          | Cases &amp; Results
          span.icon.icon-caret-right
      .cell.medium-6
        h1.c-p.beta.text-center.nmb The Team
      .cell.medium-3
        a.button.right(href='/case-studies.html')
          | Jump to Team Member
          span.icon.icon-caret-right
  .grid-container.container-gray.container-extra-pad.full.position-relative
    .grid-container
      .grid-x
        .cell.mt-pad
          h1.nmb.text-serif.beta Gbenga Biobaku
          p.text-sans MANAGING PARTNER
        .cell.large-6
          .side-content
            img(src='/assets/img/gbenga-biobaku.jpg' alt='Gbenga Biobaku')
          .content.mt-pad
            p.pbb &nbsp;
            p.omega.text-serif.pbb
              | Gbenga has over 2 decades of legal practice experience in corporate / commercial law predominantly in the Oil and Gas Industry. Previously at Jackson, Etti &amp; Edu, where he was the head of the energy &amp; corporate department for over 5 years. Prior to joining Jackson, Etti &amp; Edu, Gbenga was a member of the energy and corporate/commercial practice group at Irving and Bonnar, Nigeria&rsquo;s oldest law firm.  Whilst at Irving &amp; Bonnar, Gbenga worked on a variety of energy, corporate and commercial transactions for both domestic and international clients.
            h3.gamma.text-sans Education
            ul.list.list-dash
              li University of Ife (LLB); 1986
              li Nigerian Bar Association 1987
            .grid-x
              .cell-medium-6
                h3.gamma.text-sans Expertise
                ul.list.list-dash
                  li Foreign Investments
                  li Joint Ventures
                  li Acquisitions &amp; Disposals
                  li Corporate Restructuring
                  li Project Development &amp; Finance
              .cell.medium-6
                h3.gamma.text-sans Memberships
                ul.list.list-dash
                  li Nigerian Bar Association
                  li Energy &amp; Natural Resources Section (SERL) of the International Bar Association
                  li Association of International Petroleum Negotiators(&quot;AIPN&quot;)
  .grid-container.container-extra-pad
    .grid-x
      .cell.medium-8.text-sans
        h3.gamma Select Experiences
        p Advising a multinational exploration and production company in relation to a proposed LNG Project in the Niger-Delta region of Nigeria.
        p Advising on the $785 Million Oso Field Development Project jointly owned by Mobil Producing Nigeria Unlimited and the Nigerian National Petroleum Corporation (NNPC), and partly financed by equity from the sponsors, and debt capital from international institutions, such as, the World Bank, International Finance Corporation (IFC), US Export Import Bank, Japan Export Import Bank and the European Investment Bank.
        p Advising and negotiating the project financing, documentation and designing of the investment vehicle of the US$810million Oso-NGL Project, a gas utilisation project, which was sequel to the Oso-Field Development Project, and partly financed by equity from the sponsors and debt capital by a number of institutional investors in the United States and Europe.
        p Advising the Norwegian Exploration &amp; Production Company, Statoil, in respect of several Production Sharing Contracts with the Nigerian National Petroleum Corporation (NNPC), and assisting with the negotiation.
        p Advising an international oil company in its bid for an oil block in the Nigeria/Sao Tome and Principe JDZ 2003 Licensing Round and conducting a detailed analysis of the Treaty and the petroleum, fiscal and contractual regime.
        p Advising Sonatrach, the Algerian state oil company in connection with its bid for an oil block in the 2005 Licensing Round and providing advice on the bidding regulations as well as detailed analysis of the petroleum, fiscal and contractual regime.
        p In collaboration with lawyers in a UK law firm, acting for and advising a group of International Banks on aspects of the financing of the Eleme Petrochemical Plant.
        p Advising Statoil on the establishment of several subsidiary companies in Nigeria, including processing and obtaining of all pre-investment and regulatory approvals.
        p Advising and assisting Consolidated Petroleum PTY, a South African Company on the farm-in arrangements into a marginal field including the drafting and review of the transaction documents including the Purchase Agreement, Farm-in Agreement, Joint Operating Agreement and the Deed of Assignment.
        p Advising on several acquisitions and mergers, involving oil service companies, including the acquisition by Baker Hughes of a minority interest in a Nigerian Oil Service Company.
        p Advising Baker Hughes on all legal aspects of the construction and development of a major facility in Port Harcourt, from negotiation of the long lease for the property to negotiating and rendering advise on the construction contract, advising on Town Planning regulatory issues as well as Environmental issues, and undertaking the registration and perfection of the long lease.
        p Advising Skye Bank Plc in relation to a USD75million syndicated petroleum products receivables pre-financing facility.
        p Advising TABA Nigeria Limited in respect of an Engineering Procurement and Construction (&ldquo;EPC&rdquo;) contract with NNPC relating to a power plant and advising and assisting with the structuring and documentation of the various subcontracting and the financing arrangements.
        p Advising and assisting a private investor in connection with a joint venture arrangement with the Government of Ondo State of Nigeria, involving the privatization of the Ondo State Afforestation Project which was initially funded by the African Development Bank.
        p Advising on the Merger between the Nigerian subsidiaries of SmithKline Beecham and Sterling Products.
        p Conducted legal due diligence and advised Capital Alliance, a foremost international private equity firm in a $15million USD private equity investment in a leading cash-in-transit company in Nigeria.
        p Advising Skye Bank Plc in connection with the negotiation of a trade finance facility from African Export &ndash; Import Bank (&ldquo;Afrexim&rdquo;)
        p Advising and assisting a private investor in connection with the acquisition of Iwopin Pulp and Paper Company from the Bureau of Public Enterprises (&ldquo;BPE&rdquo;) / Federal Government of Nigeria.
        p Advising Inlaks Plc, a Conglomerate at that time, on the separation and corporatisation of some of its division.
        p Advising a leading Aluminum Company in Nigeria on a Scheme of Arrangement involving the Parent Company and a subsidiary.
