
extends _layout
block content
  .container-extra-pad.grid-container.position-relative.publications-page
    .grid-x.align-center
      .cell.small-11.medium-8.large-7
        h1.c-p.beta.text-center.nmb Publications
        form.publications-search-form.js-publications-search-form.padding-top-3
          input(type='text' placeholder='Search Publications')
          button.icon.icon-search(type='submit')
            img(src='/assets/icons/search.svg' alt='Search')
  section.grid-container.publication-area.publication-area--wider
    .grid-x.grid-margin-x.grid-margin-y.medium-up-2.large-up-3
      .cell
        a(href='/publication.html')
          article.publication.publication--large
            .publication__image-wrapper
              img(src='/assets/images/publication-1.png' alt='Publication image')
            p.publication__content.text-sans Federal Character, Indebtedness to Government etc To Be Considered In The Upcoming Marginal Fields Bid Rounds
      .cell
        a(href='/publication.html')
          article.publication.publication--large
            .publication__image-wrapper
              img(src='/assets/images/publication-2.png' alt='Publication image')
            p.publication__content.text-sans The Finance Act 2020: Rejigging the Nigerian Fiscal Landscape
      .cell
        a(href='/publication.html')
          article.publication.publication--large
            .publication__image-wrapper
              img(src='/assets/images/publication-3.png' alt='Publication image')
            p.publication__content.text-sans The Finance Act 2020: Rejigging the Nigerian Fiscal Landscape
      .cell
        a(href='/publication.html')
          article.publication.publication--large
            .publication__image-wrapper
              img(src='/assets/images/publication-4.png' alt='Publication image')
            p.publication__content.text-sans The Federal Competition and Consumer Protection Act 2018:A giant stride in the right direction.
      .cell
        a(href='/publication.html')
          article.publication.publication--large
            .publication__image-wrapper
              img(src='/assets/images/publication-1.png' alt='Publication image')
            p.publication__content.text-sans Federal Character, Indebtedness to Government etc To Be Considered In The Upcoming Marginal Fields Bid Rounds
      .cell
        a(href='/publication.html')
          article.publication.publication--large
            .publication__image-wrapper
              img(src='/assets/images/publication-2.png' alt='Publication image')
            p.publication__content.text-sans The Finance Act 2020: Rejigging the Nigerian Fiscal Landscape
      .cell
        a(href='/publication.html')
          article.publication.publication--large
            .publication__image-wrapper
              img(src='/assets/images/publication-3.png' alt='Publication image')
            p.publication__content.text-sans The Finance Act 2020: Rejigging the Nigerian Fiscal Landscape
      .cell
        a(href='/publication.html')
          article.publication.publication--large
            .publication__image-wrapper
              img(src='/assets/images/publication-4.png' alt='Publication image')
            p.publication__content.text-sans
              | The Federal Competition and Consumer Protection Act 2018:A giant stride in the right direction.
      .cell
        a(href='/publication.html')
          article.publication.publication--large
            .publication__image-wrapper
              img(src='/assets/images/publication-1.png' alt='Publication image')
            p.publication__content.text-sans
              | Federal Character, Indebtedness to Government etc To Be Considered In The Upcoming Marginal Fields Bid Rounds
    .section__cta.text-center
      a.button(href='/case-studies.html')
        span.icon.icon-caret-left
        | See all publications
