.truncated-box {
	width: 100%;
	height: rem-calc(250);
	overflow-y: hidden;
	position: relative;
	float: left;

	@media #{$medium-up} {
		height: rem-calc(350);
	}

	.icon-expand {
		@extend .icon-close;
		position: absolute;
		bottom: $padding;
		//left: 50%;
		transform: translateX(-100%) translateZ(45deg);
		z-index: 2000;
		transition: all 0.5s ease-in-out;
	}

	.transparent-overlay {
		width: 100%;
		height: 70%;
		position: absolute;
		left: 0;
		bottom: 0;
		background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #FFFFFF 58%);
		z-index: 1999;
	}
}