.button {
	padding: $padding * 0.05 $padding;
	font-family: $font-family-sans-serif;
	text-decoration: none;
	background-color: lighten(color(gray-light), 20%);
	display: inline-block;
	color: color(white);
	border-radius: rem-calc(40);
	font-size: rem-calc(12);
}