$colors: (
	primary: #4A8A26,
	secondary: #D52236,
	gray: #4D4D4D,
	white: #fff,
	gray-light: #626063,
	black: #000,
);

// COLOR
// Returns a specified color in the color map,
// with a darker or lighter version incldued if needed.

@function color($color, $value: 'normal') {
	@if map-has-key($colors, $color ) {
		@if $value == 'lighter' {
			@return lighten(map-get($colors, $color), 10%);
		}
		@if $value == 'darker' {
			@return darken(map-get($colors, $color), 10%);
		}
		@return map-get($colors, $color);
	}

	@return 'Unkown `#{$color}` in $colors';
	@return null;
}