@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1,
.alpha, h2, .beta, h3, .gamma, h4, .omega, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

img {
  float: left;
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

* {
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 100% !important;
  float: left; }

.row, .featured-categories, .promotion-carousel {
  width: 100%;
  max-width: 68.75rem;
  margin: auto auto; }
  .row:before, .featured-categories:before, .promotion-carousel:before, .row:after, .featured-categories:after, .promotion-carousel:after {
    content: " ";
    display: table; }
  .row:after, .featured-categories:after, .promotion-carousel:after {
    clear: both; }
  @media only screen and (min-width: 40.063em) {
    .row-pad > div {
      padding-right: 2.5rem; } }

@media only screen and (min-width: 40.063em) {
  .row-main {
    width: 100%;
    margin: auto auto; } }
@media only screen and (min-width: 64.063em) {
  .row-main {
    width: 90%; } }

.collapse {
  padding: 0 !important; }

.col, .hero-content, .featured-categories .item, .promotion-carousel > a {
  width: 100%;
  float: left; }

[class*='col-'], [class*='m-']:last-of-type, [class*='s-']:last-of-type {
  padding-right: 1.25rem; }

[class*='col-']:last-of-type, [class*='m-']:last-of-type, [class*='s-']:last-of-type {
  padding-right: 0;
  float: right; }

.end {
  float: left !important; }

.s-0-12 {
  width: 0%;
  float: left; }

.s-offset-0 {
  margin-left: 0%; }

.s-1-12 {
  width: 8.33333%;
  float: left; }

.s-offset-1 {
  margin-left: 8.33333%; }

.s-2-12 {
  width: 16.66667%;
  float: left; }

.s-offset-2 {
  margin-left: 16.66667%; }

.s-3-12 {
  width: 25%;
  float: left; }

.s-offset-3 {
  margin-left: 25%; }

.s-4-12 {
  width: 33.33333%;
  float: left; }

.s-offset-4 {
  margin-left: 33.33333%; }

.s-5-12 {
  width: 41.66667%;
  float: left; }

.s-offset-5 {
  margin-left: 41.66667%; }

.s-6-12, .promotion-carousel > a {
  width: 50%;
  float: left; }

.s-offset-6 {
  margin-left: 50%; }

.s-7-12 {
  width: 58.33333%;
  float: left; }

.s-offset-7 {
  margin-left: 58.33333%; }

.s-8-12 {
  width: 66.66667%;
  float: left; }

.s-offset-8 {
  margin-left: 66.66667%; }

.s-9-12 {
  width: 75%;
  float: left; }

.s-offset-9 {
  margin-left: 75%; }

.s-10-12 {
  width: 83.33333%;
  float: left; }

.s-offset-10 {
  margin-left: 83.33333%; }

.s-11-12 {
  width: 91.66667%;
  float: left; }

.s-offset-11 {
  margin-left: 91.66667%; }

.s-12-12 {
  width: 100%;
  float: left; }

.s-offset-12 {
  margin-left: 100%; }

@media only screen and (min-width: 40.063em) {
  .m-0-12 {
    width: 0%;
    float: left; }

  .m-offset-0 {
    margin-left: 0%; }

  .m-1-12 {
    width: 8.33333%;
    float: left; }

  .m-offset-1 {
    margin-left: 8.33333%; }

  .m-2-12 {
    width: 16.66667%;
    float: left; }

  .m-offset-2 {
    margin-left: 16.66667%; }

  .m-3-12 {
    width: 25%;
    float: left; }

  .m-offset-3 {
    margin-left: 25%; }

  .m-4-12, .promotion-carousel > a {
    width: 33.33333%;
    float: left; }

  .m-offset-4 {
    margin-left: 33.33333%; }

  .m-5-12 {
    width: 41.66667%;
    float: left; }

  .m-offset-5 {
    margin-left: 41.66667%; }

  .m-6-12 {
    width: 50%;
    float: left; }

  .m-offset-6 {
    margin-left: 50%; }

  .m-7-12 {
    width: 58.33333%;
    float: left; }

  .m-offset-7 {
    margin-left: 58.33333%; }

  .m-8-12 {
    width: 66.66667%;
    float: left; }

  .m-offset-8 {
    margin-left: 66.66667%; }

  .m-9-12 {
    width: 75%;
    float: left; }

  .m-offset-9 {
    margin-left: 75%; }

  .m-10-12 {
    width: 83.33333%;
    float: left; }

  .m-offset-10 {
    margin-left: 83.33333%; }

  .m-11-12 {
    width: 91.66667%;
    float: left; }

  .m-offset-11 {
    margin-left: 91.66667%; }

  .m-12-12 {
    width: 100%;
    float: left; }

  .m-offset-12 {
    margin-left: 100%; } }
@media only screen and (min-width: 64.063em) {
  .l-0-12 {
    width: 0%;
    float: left; }

  .l-offset-0 {
    margin-left: 0%; }

  .l-1-12 {
    width: 8.33333%;
    float: left; }

  .l-offset-1 {
    margin-left: 8.33333%; }

  .l-2-12 {
    width: 16.66667%;
    float: left; }

  .l-offset-2 {
    margin-left: 16.66667%; }

  .l-3-12 {
    width: 25%;
    float: left; }

  .l-offset-3 {
    margin-left: 25%; }

  .l-4-12 {
    width: 33.33333%;
    float: left; }

  .l-offset-4 {
    margin-left: 33.33333%; }

  .l-5-12 {
    width: 41.66667%;
    float: left; }

  .l-offset-5 {
    margin-left: 41.66667%; }

  .l-6-12 {
    width: 50%;
    float: left; }

  .l-offset-6 {
    margin-left: 50%; }

  .l-7-12 {
    width: 58.33333%;
    float: left; }

  .l-offset-7 {
    margin-left: 58.33333%; }

  .l-8-12 {
    width: 66.66667%;
    float: left; }

  .l-offset-8 {
    margin-left: 66.66667%; }

  .l-9-12 {
    width: 75%;
    float: left; }

  .l-offset-9 {
    margin-left: 75%; }

  .l-10-12 {
    width: 83.33333%;
    float: left; }

  .l-offset-10 {
    margin-left: 83.33333%; }

  .l-11-12 {
    width: 91.66667%;
    float: left; }

  .l-offset-11 {
    margin-left: 91.66667%; }

  .l-12-12 {
    width: 100%;
    float: left; }

  .l-offset-12 {
    margin-left: 100%; } }
.s-0-10 {
  width: 0%;
  float: left; }

.s-offset-0 {
  margin-left: 0%; }

.s-1-10 {
  width: 10%;
  float: left; }

.s-offset-1 {
  margin-left: 10%; }

.s-2-10 {
  width: 20%;
  float: left; }

.s-offset-2 {
  margin-left: 20%; }

.s-3-10 {
  width: 30%;
  float: left; }

.s-offset-3 {
  margin-left: 30%; }

.s-4-10 {
  width: 40%;
  float: left; }

.s-offset-4 {
  margin-left: 40%; }

.s-5-10 {
  width: 50%;
  float: left; }

.s-offset-5 {
  margin-left: 50%; }

.s-6-10 {
  width: 60%;
  float: left; }

.s-offset-6 {
  margin-left: 60%; }

.s-7-10 {
  width: 70%;
  float: left; }

.s-offset-7 {
  margin-left: 70%; }

.s-8-10 {
  width: 80%;
  float: left; }

.s-offset-8 {
  margin-left: 80%; }

.s-9-10 {
  width: 90%;
  float: left; }

.s-offset-9 {
  margin-left: 90%; }

.s-10-10 {
  width: 100%;
  float: left; }

.s-offset-10 {
  margin-left: 100%; }

@media only screen and (min-width: 40.063em) {
  .m-0-10 {
    width: 0%;
    float: left; }

  .m-offset-0 {
    margin-left: 0%; }

  .m-1-10 {
    width: 10%;
    float: left; }

  .m-offset-1 {
    margin-left: 10%; }

  .m-2-10 {
    width: 20%;
    float: left; }

  .m-offset-2 {
    margin-left: 20%; }

  .m-3-10 {
    width: 30%;
    float: left; }

  .m-offset-3 {
    margin-left: 30%; }

  .m-4-10 {
    width: 40%;
    float: left; }

  .m-offset-4 {
    margin-left: 40%; }

  .m-5-10 {
    width: 50%;
    float: left; }

  .m-offset-5 {
    margin-left: 50%; }

  .m-6-10 {
    width: 60%;
    float: left; }

  .m-offset-6 {
    margin-left: 60%; }

  .m-7-10 {
    width: 70%;
    float: left; }

  .m-offset-7 {
    margin-left: 70%; }

  .m-8-10 {
    width: 80%;
    float: left; }

  .m-offset-8 {
    margin-left: 80%; }

  .m-9-10 {
    width: 90%;
    float: left; }

  .m-offset-9 {
    margin-left: 90%; }

  .m-10-10 {
    width: 100%;
    float: left; }

  .m-offset-10 {
    margin-left: 100%; } }
@media only screen and (min-width: 64.063em) {
  .l-0-10 {
    width: 0%;
    float: left; }

  .l-offset-0 {
    margin-left: 0%; }

  .l-1-10 {
    width: 10%;
    float: left; }

  .l-offset-1 {
    margin-left: 10%; }

  .l-2-10 {
    width: 20%;
    float: left; }

  .l-offset-2 {
    margin-left: 20%; }

  .l-3-10 {
    width: 30%;
    float: left; }

  .l-offset-3 {
    margin-left: 30%; }

  .l-4-10 {
    width: 40%;
    float: left; }

  .l-offset-4 {
    margin-left: 40%; }

  .l-5-10 {
    width: 50%;
    float: left; }

  .l-offset-5 {
    margin-left: 50%; }

  .l-6-10 {
    width: 60%;
    float: left; }

  .l-offset-6 {
    margin-left: 60%; }

  .l-7-10 {
    width: 70%;
    float: left; }

  .l-offset-7 {
    margin-left: 70%; }

  .l-8-10 {
    width: 80%;
    float: left; }

  .l-offset-8 {
    margin-left: 80%; }

  .l-9-10 {
    width: 90%;
    float: left; }

  .l-offset-9 {
    margin-left: 90%; }

  .l-10-10 {
    width: 100%;
    float: left; }

  .l-offset-10 {
    margin-left: 100%; } }
@media only screen and (max-width: 40em) {
  .m-pad, .mt-pad {
    padding-left: 1.875rem;
    padding-right: 1.875rem !important; } }

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .mt-pad {
    padding-left: 1.875rem;
    padding-right: 1.875rem !important; } }

.pbn {
  padding-bottom: 1.25rem !important; }

.pb-small {
  padding-bottom: 1.25rem !important; }

.pb-large, .promotion-carousel {
  padding-bottom: 2.5rem !important; }

.pt-0 {
  padding-top: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.mb-large {
  margin-bottom: 2.5rem !important; }

@media only screen and (max-width: 40em) {
  .s-hide, .sm-hide {
    display: none !important; } }

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .m-hide, .sm-hide {
    display: none; } }

@media only screen and (min-width: 64.063em) {
  .l-hide {
    display: none; } }

@media only screen and (min-width: 40.063em) {
  .ml-hide {
    display: none; } }

h1, .alpha {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1.25rem !important; }
  @media only screen and (min-width: 40.063em) {
    h1, .alpha {
      font-size: 3rem;
      line-height: 3.25rem;
      margin-bottom: 1.625rem !important; } }
  @media only screen and (min-width: 64.063em) {
    h1, .alpha {
      font-size: 3rem;
      line-height: 3.25rem;
      margin-bottom: 1.625rem !important; } }

h2, .beta {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem !important; }
  @media only screen and (min-width: 40.063em) {
    h2, .beta {
      font-size: 1.875rem;
      line-height: 2.375rem;
      margin-bottom: 1.1875rem !important; } }
  @media only screen and (min-width: 64.063em) {
    h2, .beta {
      font-size: 2.25rem;
      line-height: 2.6875rem;
      margin-bottom: 1.34375rem !important; } }

h3, .gamma {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.875rem !important; }
  @media only screen and (min-width: 40.063em) {
    h3, .gamma {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 1rem !important; } }
  @media only screen and (min-width: 64.063em) {
    h3, .gamma {
      font-size: 1.375rem;
      line-height: 2rem;
      margin-bottom: 1rem !important; } }

h4, .omega {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-bottom: 0.75rem !important; }
  @media only screen and (min-width: 40.063em) {
    h4, .omega {
      font-size: 1.25rem;
      line-height: 1.875rem;
      margin-bottom: 0.9375rem !important; } }
  @media only screen and (min-width: 64.063em) {
    h4, .omega {
      font-size: 1.125rem;
      line-height: 1.875rem;
      margin-bottom: 0.9375rem !important; } }

h5 {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 0.5rem !important; }
  @media only screen and (min-width: 40.063em) {
    h5 {
      font-size: 0.75rem;
      line-height: 1rem;
      margin-bottom: 0.5rem !important; } }
  @media only screen and (min-width: 64.063em) {
    h5 {
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-bottom: 0.625rem !important; } }

body {
  color: #4D4D4D; }

body, p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: "minerva-modern", helvetica, arial, lato, sans-serif;
  font-weight: 200;
  letter-spacing: 0.1px;
  color: #959396; }
  @media only screen and (min-width: 40.063em) {
    body, p {
      font-size: 1rem;
      line-height: 1.625rem; } }

h1, .alpha, h2, .beta, h3, .gamma, h4, .omega, h5, h6 {
  font-weight: bold; }

p {
  margin-bottom: 1.625rem;
  font-family: "karmina", century, serif;
  color: #959396; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

.text-center, .hero-content, .featured-categories .item {
  text-align: center; }

.text-light {
  font-weight: 100; }

.text-small {
  font-size: 80%;
  line-height: 1.5; }

.text-serif {
  font-family: "karmina", century, serif; }
  .text-serif * {
    font-family: "karmina", century, serif; }

.text-sans {
  font-family: "minerva-modern", helvetica, arial, lato, sans-serif; }
  .text-sans * {
    font-family: "minerva-modern", helvetica, arial, lato, sans-serif; }

.text-bold {
  font-weight: bold; }

.text-center, .hero-content, .featured-categories .item {
  text-align: center !important; }

@media only screen and (max-width: 40em) {
  .s-text-center, .sm-text-center {
    text-align: center !important; } }

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .m-text-center, .sm-text-center {
    text-align: center !important; } }

.text-right {
  text-align: right !important; }

@media only screen and (max-width: 40em) {
  .s-text-right {
    text-align: right !important; } }

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .m-text-right {
    text-align: right !important; } }

@media only screen and (min-width: 64.063em) {
  .l-text-right {
    text-align: right !important; } }

[class*="-center"] img {
  float: none; }

.text-space-1 {
  letter-spacing: 0.0625rem; }

.c-p {
  color: #4A8A26; }

.plain {
  color: #4A8A26;
  text-decoration: none; }
  .plain:hover {
    color: #35621b; }

@font-face {
  font-family: 'icomoon';
  src: url('/assets/fonts/icomoon.eot?h1w47m&1447182586');
  src: url('/assets/fonts/icomoon.eot?h1w47m&1447182586#iefix') format("embedded-opentype"), url('/assets/fonts/icomoon.ttf?h1w47m&1447182586') format("truetype"), url('/assets/fonts/icomoon.woff?h1w47m&1447182586') format("woff"), url('/assets/fonts/icomoon.svg?h1w47m&1447182586#icomoon') format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-right-arrow:before {
  content: "\e90c"; }

.icon-delivery:before {
  content: "\e901"; }

.icon-time:before {
  content: "\e902"; }

.icon-box:before {
  content: "\e904"; }

.icon-facebook:before {
  content: "\e903"; }

.icon-instagram:before {
  content: "\e905"; }

.icon-twitter:before {
  content: "\e906"; }

.icon-wallet:before {
  content: "\e90a"; }

.icon-add-cart:before {
  content: "\e90b"; }

.icon-call:before {
  content: "\e900"; }

.icon-help:before {
  content: "\e907"; }

.icon-track:before {
  content: "\e908"; }

.icon-add-list:before {
  content: "\e909"; }

.list {
  margin-left: 1.25rem;
  margin-bottom: 2.5rem; }

.list-dash li {
  position: relative; }
  .list-dash li:before {
    content: '-';
    padding-right: 0.625rem;
    margin-left: -1.25rem;
    display: inline-block;
    position: absolute; }

.list-arrow {
  margin-left: 1.25rem; }
  .list-arrow li {
    position: relative; }
    .list-arrow li:before {
      content: "»";
      padding-right: 1.25rem;
      margin-left: -1.25rem;
      display: inline-block;
      position: absolute;
      font-family: icomoon;
      color: #4A8A26; }

.list-experiences {
  margin-left: 0; }
  .list-experiences li {
    margin-bottom: 1.25rem; }
    @media only screen and (min-width: 40.063em) {
      .list-experiences li {
        margin-bottom: 1.875rem; } }

.button, input[type="submit"] {
  padding: 0.375rem 3.75rem;
  font-family: "minerva-modern", helvetica, arial, lato, sans-serif;
  text-decoration: none;
  background-color: #D52236;
  display: inline-block;
  color: #fff;
  border-radius: 2.5rem;
  -webkit-transition: background-color 0.6s ease-out;
          transition: background-color 0.6s ease-out; }
  .button:hover, input[type="submit"]:hover {
    background-color: #bf1e30; }
  .hero-evron .button, .hero-evron input[type="submit"] {
    min-width: 18.75rem;
    max-width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-weight: bold; }

input,
textarea {
  width: 100%;
  background-color: gray;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  border: none;
  margin-bottom: 0.625rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #000; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #000; }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #000; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #000; }

input[type="submit"] {
  width: auto;
  font-weight: 900;
  cursor: pointer;
  padding: 1.25rem 2.5rem; }

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0; } }
.container {
  position: relative;
  overflow-y: hidden; }
  .container-gray {
    background-color: #f3f3f3;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }
    @media only screen and (min-width: 40.063em) {
      .container-gray {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem; } }
  .container-extra-pad {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }
    @media only screen and (min-width: 40.063em) {
      .container-extra-pad {
        padding-top: 5rem;
        padding-bottom: 5rem; } }

.hero {
  background: url('/assets/img/evron-experience-banner.jpg?1447004304') no-repeat;
  background-size: cover;
  box-sizing: border-box;
  min-height: 21.875rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: table;
  vertical-align: middle; }
  @media only screen and (min-width: 40.063em) {
    .hero {
      min-height: 70vh; } }
  .hero-light * {
    color: #fff; }
  .hero-content {
    float: none;
    display: table-cell;
    align: center;
    vertical-align: middle; }
    @media only screen and (min-width: 40.063em) {
      .hero-content {
        max-width: 50%; } }

.hero-evron h1, .hero-evron .alpha {
  text-transform: uppercase; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y; }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    display: none; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
          transition: opacity 400ms ease; }
.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
.owl-carousel .owl-animated-in {
  z-index: 0; }
.owl-carousel .owl-animated-out {
  z-index: 1; }
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  margin-top: 1.25rem; }
  @media only screen and (min-width: 40.063em) {
    .owl-theme .owl-dots {
      margin-top: 2.5rem; } }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 8px;
      height: 8px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      -webkit-transition: opacity 200ms ease;
              transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

.top-bar {
  padding: 0.25rem;
  background-color: #4A8A26;
  color: #fff;
  font-size: 0.75rem; }
  @media only screen and (min-width: 40.063em) {
    .top-bar {
      padding: 0.625rem;
      font-size: 0.8125rem; } }
  .top-bar * {
    color: #fff;
    text-decoration: none; }
  .top-bar .row > div, .top-bar .featured-categories > div, .top-bar .promotion-carousel > div, .top-bar .row-main > div {
    display: inline-block; }
  .top-bar .right {
    float: none;
    text-align: center;
    margin: auto auto; }
    @media only screen and (min-width: 40.063em) {
      .top-bar .right {
        float: right; } }
  .top-bar .icon {
    font-size: 0.9375rem;
    vertical-align: middle;
    padding-right: 0.25rem;
    position: relative;
    top: -0.125rem; }
    @media only screen and (min-width: 40.063em) {
      .top-bar .icon {
        font-size: 1.125rem; } }
  .top-bar a > span {
    display: inline-block;
    margin-left: 0.25rem; }
    @media only screen and (min-width: 40.063em) {
      .top-bar a > span {
        margin-left: 0.625rem; } }
  .top-bar a:hover {
    opacity: 0.5; }

.payment-methods {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #4D4D4D;
  position: relative;
  padding-top: 1.25rem;
  margin-top: 1.25rem;
  border-top: 0.0625rem solid #eeedee; }
  .payment-methods .payment-options {
    padding-right: 1.25rem;
    margin-right: 1.25rem;
    border-right: 0.0625rem solid #c8c7c8;
    color: #626063; }
  .payment-methods img {
    float: none;
    display: inline-block;
    padding-left: 1.25rem;
    line-height: 1;
    vertical-align: middle;
    width: auto;
    height: 1.25rem; }
  .payment-methods span {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    vertical-align: middle;
    display: inline-block; }
  .payment-methods .security-seal {
    height: 2.5rem;
    position: relative;
    top: -0.625rem; }
    @media only screen and (min-width: 40.063em) {
      .payment-methods .security-seal {
        float: right; } }

.footer {
  margin-top: 6.25rem; }
  .footer * {
    font-size: 0.75rem !important; }
    @media only screen and (min-width: 40.063em) {
      .footer * {
        font-size: 0.875rem !important; } }
  .footer .copyright {
    margin-top: 6.25rem;
    padding-top: 1.25rem;
    border-top: 0.0625rem solid #eeedee; }
  .footer a {
    text-decoration: none; }
  .footer .logo {
    max-width: 80%; }

.delivery-promises {
  color: #4A8A26;
  font-weight: 100;
  text-align: center; }
  .delivery-promises > div {
    display: inline-block;
    padding: 1.25rem;
    float: none;
    box-sizing: border-box;
    font-size: 0.75rem; }
    .delivery-promises > div span {
      display: inline-block;
      text-align: left;
      line-height: 1.6;
      float: left; }
    .delivery-promises > div .icon {
      display: inline-block;
      float: left;
      font-size: 1.25rem; }
      @media only screen and (min-width: 40.063em) {
        .delivery-promises > div .icon {
          font-size: 1.875rem; } }
    @media only screen and (max-width: 40em) {
      .delivery-promises > div {
        font-size: 0.5625rem;
        padding-bottom: 0; } }
    @media only screen and (min-width: 64.063em) {
      .delivery-promises > div {
        font-size: 0.875rem;
        padding: 1.875rem; }
        .delivery-promises > div .icon {
          font-size: 2.5rem;
          -webkit-transform: translateY(-15%);
              -ms-transform: translateY(-15%);
                  transform: translateY(-15%); } }

.main-banner {
  float: left;
  width: 100%;
  margin-bottom: 2.5rem; }
  @media only screen and (min-width: 40.063em) {
    .main-banner {
      margin-bottom: 5rem; } }
  .main-banner.owl-carousel .owl-item img {
    width: 160%;
    max-width: none;
    float: right; }
    @media only screen and (min-width: 40.063em) {
      .main-banner.owl-carousel .owl-item img {
        width: 100%; } }

.featured-categories {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: block;
  position: relative; }
  .featured-categories .item {
    padding: 1.25rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: inherit; }
    .featured-categories .item:hover {
      color: #4A8A26; }
    .featured-categories .item * {
      font-weight: normal; }
    @media only screen and (min-width: 64.063em) {
      .featured-categories .item {
        width: 20%;
        margin-bottom: 1.25rem; }
        .featured-categories .item:nth-child(5n+1) {
          clear: left; }
        .featured-categories .item img {
          width: 100%; } }

.promotion-carousel {
  display: block;
  float: left;
  position: relative; }
  .promotion-carousel > a {
    padding: 1.25rem;
    display: inline-block; }

.side-menu {
  width: 100%;
  /* Mask: */
  background: #fff;
  border: 1px solid rgba(207, 207, 207, 0.25);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.17);
  border-radius: 0.25rem;
  position: relative;
  z-index: 200;
  margin-bottom: 5rem; }
  .side-menu .menu-items li > ul {
    position: absolute;
    right: -100%;
    top: 0;
    background-color: #fff;
    border: 1px solid rgba(207, 207, 207, 0.25);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.17);
    border-radius: 0.25rem;
    z-index: 100;
    width: 100%;
    -webkit-transform: translateX(-1%);
        -ms-transform: translateX(-1%);
            transform: translateX(-1%); }
  .side-menu .memu-image img {
    width: 100%;
    float: left; }
  .side-menu li {
    font-size: 0.875rem;
    width: 100%;
    position: relative; }
    @media only screen and (min-width: 64.063em) {
      .side-menu li {
        font-size: 1rem; } }
    .side-menu li:first-child a {
      padding-top: 1.25rem; }
    .side-menu li:last-child {
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem; }
      .side-menu li:last-child a {
        padding-bottom: 1.25rem; }
    .side-menu li.promiment {
      background-color: #4A8A26; }
      .side-menu li.promiment a {
        color: #fff; }
        .side-menu li.promiment a:hover {
          color: rgba(255, 255, 255, 0.5); }
    .side-menu li.semi-prominent {
      background-color: #e9f7e1; }
      .side-menu li.semi-prominent:hover {
        background-color: #d1eec1; }
    .side-menu li:hover {
      background-color: #f5fbf1; }
  .side-menu a {
    display: block;
    color: #959396;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-out;
            transition: color 0.2s ease-out;
    font-weight: 400; }
    .side-menu a:hover {
      color: #4A8A26; }
  .side-menu .dropdown:after {
    content: "\e90c";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #c8c7c8;
    font-size: 0.75rem;
    position: relative;
    padding-left: 0.375rem;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .side-menu .dropdown:hover:after {
    color: #4A8A26; }

html, body {
  width: 100%;
  overflow-x: hidden; }

/*# sourceMappingURL=app.css.map */