/* GENERAL */
.section__cta {
    margin-top: 4rem;
}

.section--large {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.section--large-padding {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.section--medium {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.section--small {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.section--xsmall {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.color-black {
    color: black;
}

.position-relative {
    position: relative;
}

/* BIO */
.striped-background {
    position: absolute;
    top: -11.5%;
    right: -25%;
    max-height: 70vh;
    z-index: -1;
    overflow: hidden;
}

.striped-background img {
    height: 100%;
}

.bio .striped-background {
    bottom: 0;
    transform: translateX(50%);
    max-height: unset;
    top: unset;
}

@media screen and (min-width: 40rem) {
    .bio .striped-background {
        transform: translateX(25%);
    }
}

.bio .bio__icons {
    /* margin: 4rem 0; */
}

.bio .bio__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
    max-height: 4rem;
    /* max-width: 4rem; */
    overflow: hidden;
}

.bio .bio__icon-wrapper + .bio__icon-wrapper {
    /* margin-left: 3rem; */
}

.bio .bio__icon-wrapper img {
    /* width: 100%; */
    height: 100%;
    /* object-fit: cover; */
}

/* PUBLICATIONS */
.publication-area--wider {
    max-width: 83rem;
    width: 100%;
}

.publication-area .publication {
    display: flex;
    flex-direction: column;
}

.publication-area .publication img {
    transition: 0.3s ease-in-out;
}

.publication-area .publication:hover img {
    filter: brightness(80%);
}

.publication-area .publication .publication__image-wrapper {
    width: 100%;
    height: 180px;
    margin-bottom: 1rem;
}

.publication-area .publication--large .publication__image-wrapper {
    width: 100%;
    height: 360px;
    margin-bottom: 1rem;
}

.publication-area .publication--large .publication__content {
    color: #0095da;
    font-size: 20px;
}

.publication-area .publication .publication__image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.publication-area .publication .publication__content {
    line-height: 24px;
}

/* CLIENTS */
.clients__area {
}

.clients__area .clients-carousel {
}

/* FOOTER */
.footer .social-and-awards :last-child img {
    width: 16.25rem;
}

/* TEAM */
.team-member .team-member_image {
    overflow: hidden;
    margin-bottom: 1rem;
    position: relative;
}

.team-member .team-member_image::before {
    position: absolute;
    content: url(/assets/images/blue-stripes.svg);
    height: 100%;
    width: 100%;
    right: -25%;
    top: 0;
    opacity: 0;
    transition: 0.8s ease-in-out;
    z-index: 1;
}

.team-member .team-member_image:hover::before {
    transform: translateX(-35%);
    opacity: 1;
}

.team-member .team-member_image img {
    filter: grayscale(80%);
    transition: 0.6s ease-in-out;
}

.team-member .team-member_image:hover img {
    filter: grayscale(0%);
    transform: scale(1.5);
}

.team-member .team-member_name {
    font-size: 18px;
    color: #0095da;
    font-weight: bold;
    margin: 0;
}

.team-member .team-member_designation {
    all: unset;
}

/* EXPERTISE */
.expertise__image-wrapper {
    overflow: hidden;
}
.expertise__image-wrapper img {
    width: 100%;
}

/* ABOUT */
.mission-vision-area .highlight-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0095da;
    color: white;
    padding: 2rem;
    min-height: 20rem;
}

.mission-vision-area .highlight-card__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 18px;
    font-weight: bold;
}

.mission-vision-area .highlight-card p {
    color: white;
}

.about-team-intro {
    position: relative;
    overflow: hidden;
}

.about-team-intro .about-team-intro__images {
    position: absolute;
    bottom: -5%;
    right: 0;
    width: 50%;
    height: 15rem;
    transform: rotate(6deg);
    transform-origin: bottom right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
}

.about-team-intro .about-team-intro__images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 60rem) {
    .about-team-intro .about-team-intro__images {
        height: 100%;
        width: 33%;
        bottom: unset;
        top: 0;
    }
}

/* PUBLICATIONS */
.publications-search-form {
    width: 100%;
    position: relative;
    display: flex;
}

.publications-search-form input {
    width: 100%;
    box-shadow: 0 2px 100px rgba(116, 116, 116, 0.37);
    border: none;
    border-radius: 1.5rem;
    background-color: white;
    padding: 10px 28px;
    min-height: 3rem;
}

.publications-search-form input:focus {
    border: none;
}

.publications-search-form button {
    position: absolute;
    height: 3rem;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.publications-search-form button:hover {
    filter: brightness(75%);
}
