/* FONTS */
@font-face {
    font-family: "Minerva Modern";
    src: url("/assets/fonts/MinervaModernBlack.ttf") format("ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Minerva Modern";
    src: url("/assets/fonts/MinervaModernBlackItalic.ttf") format("ttf");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Minerva Modern";
    src: url("/assets/fonts/MinervaModernBold.ttf") format("ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Minerva Modern";
    src: url("/assets/fonts/MinervaModernBoldItalic.ttf") format("ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Minerva Modern";
    src: url("/assets/fonts/MinervaModernRegular.ttf") format("ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Minerva Modern";
    src: url("/assets/fonts/MinervaModernItalic.ttf") format("ttf");
    font-weight: 500;
    font-style: italic;
}

/* TYPOGRAPHY */
.text-sans {
    font-family: "Minerva Modern", sans-serif;
}

/* GENERAL */
.section__cta {
    margin-top: 4rem;
}

.section--large {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.section--large-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.section--medium {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.section--medium-padding {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.section--small {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.section--small-padding {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.section--xsmall {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 48rem) {
    .section--medium {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .section--small {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .section--small-padding {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .section--xsmall {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .section--medium-padding {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .section--large-padding {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
}

.color-black {
    color: black;
}

.color-dark-gray {
    color: #141414;
}

.color-mid-gray {
    color: #686868;
}

.color-white {
    color: white;
}

.text-uppercase {
    text-transform: uppercase;
}

.position-relative {
    position: relative;
}

.letter-spacing-4 {
    letter-spacing: 4px;
}

.round-padded-icon {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.round-padded-icon--gray {
    background: #efefef;
}

.round-padded-icon svg {
    height: 20px;
}

.round-padded-icon svg {
    filter: brightness(0.5);
}

.round-padded-icon--white {
    background: #ffffff;
}

.round-padded-icon:hover {
    filter: brightness(95%);
}

.share-icon {
    filter: brightness(0.95);
}

.margin-0 {
    margin: 0 !important;
}
.margin-bottom-0 {
    margin-bottom: 0 !important;
}

a.button,
a.button * {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5rem;
}

/* BIO */
.striped-background {
    max-height: 100vh;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0%;
    z-index: -1;
}

.striped-background img {
    height: 100%;
    max-width: unset;
}

.bio .striped-background {
    /* height: 100vh; */
    top: unset;
    bottom: 0;
    right: calc(-50% - 6rem);
    /* transform: translateX(-25%); */
    /* max-height: unset; */
}

.bio .bio__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 4rem;
    overflow: hidden;
}

.bio .bio__icon-wrapper img {
    height: 100%;
    filter: hue-rotate(25deg) brightness(90%);
}

.bio .bio__icon-wrapper {
    display: flex;
    justify-content: center;
}

.bio .bio__icon-wrapper:nth-child(1) {
    margin-bottom: 2rem;
}
.bio .bio__icon-wrapper:nth-child(2) {
    margin-bottom: 2rem;
}
.bio .bio__icon-wrapper:nth-child(3) {
    margin-bottom: 2rem;
}

.about .striped-background {
    height: calc(100% + 5rem);
    right: unset;
    left: calc(100% - 6rem);
    opacity: 0;
}

.publications-page .striped-background {
    right: -16rem;
    height: unset;
    max-height: 70vh;
}

@media screen and (min-width: 40rem) {
    .bio .striped-background {
        right: -25%;
        max-height: 125vh;
    }

    .about .striped-background {
        opacity: 1;
        left: calc(100% - 12rem);
    }

    .publications-page .striped-background {
        right: -8rem;
    }

    .bio .bio__icon-wrapper {
        justify-content: left;
    }
}

@media screen and (min-width: 64rem) {
    .about .striped-background {
        left: calc(100% - 16rem);
    }
    .bio .striped-background {
        max-height: 100vh;
        right: -25%;
        /* right: unset; */
    }
    .publications-page .striped-background {
        right: 4rem;
    }
}

/* PUBLICATION */
.publication-area--wider {
    max-width: 83rem;
    width: 100%;
}

.publication-area .publication {
    display: flex;
    flex-direction: column;
}

.publication-area .publication img {
    transition: filter 0.3s ease-in-out, transform 0.6s ease-out;
}

.publication-area .publication:hover img {
    filter: brightness(80%);
    transform: scale(1.25);
}

.publication-area .publication .publication__image-wrapper {
    width: 100%;
    height: 180px;
    margin-bottom: 1rem;
    overflow: hidden;
}

.publication-area .publication--large .publication__image-wrapper {
    width: 100%;
    height: 360px;
    margin-bottom: 1rem;
}

.publication-area .publication--large .publication__content {
    color: #0095da;
    font-size: 20px;
}

.publication-area .publication .publication__image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.publication-area .publication .publication__content {
    line-height: 24px;
}

.publication-post__hero {
    box-sizing: border-box;
    height: 80vh;
    width: 100%;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.publication-post__hero::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.25) 50%,
        rgba(0, 0, 0, 0.5) 100%
    );
}

.publication-post__hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.publication-post__content {
    z-index: 1;
}

.publication-post__intro {
    margin-top: -30vh;
}

.publication-post__intro h1 {
    color: #0095da;
}

.publication-post__content-card {
    background: white;
}

.publication-post .feature-card {
    background-color: #f0f0f0;
}

.publication-post .feature-card__button {
    background-color: #0095da;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    position: relative;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.publication-post .feature-card__button:hover {
    filter: brightness(0.9);
}

.publication-post .feature-card__image-wrapper img {
    width: 100%;
}

.publication-post .feature-card__button .icon {
    position: absolute;
    right: 1rem;
}

/* CLIENTS */
.clients-area {
    float: unset !important;
    overflow: hidden;
}

.clients-area .clients-carousel {
    width: 100%;
}

.clients-carousel .clients-carousel__slide {
    height: 6rem;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.clients-carousel .clients-carousel__slide img {
    height: 100%;
    object-fit: contain;
}

/* FOOTER */
.footer .social-and-awards :last-child img {
    width: 16.25rem;
}

/* TEAM */
.team-member {
    position: relative;
}

.team-member .team-member_image {
    overflow: hidden;
    position: relative;
}

.team-member .team-member_image::before {
    position: absolute;
    content: url(/assets/images/blue-stripes.svg);
    height: 100%;
    width: 100%;
    left: 100%;
    bottom: 0;
    opacity: 0;
    transition: 0.8s ease-out;
    z-index: 1;
}

.team-member:hover .team-member_image::before {
    transform: translateX(-250px);
    opacity: 1;
}

.team-member .team-member_image img {
    filter: grayscale(80%);
    transition: 0.6s ease-in-out;
    transform-origin: top center;
}

.team-member:hover .team-member_image img {
    filter: grayscale(0%);
    transform: scale(1.5);
}

.team-member__content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    width: 100%;
    padding: 1rem;
    padding-top: 2rem;
    padding-right: 3rem !important;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.85) 100%
    );
    /* z-index: 1; */
}

.team-member .team-member_name {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    line-height: 1.25rem;
}

.team-member .team-member_designation {
    color: white;
    float: unset;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-size: 12px;
    line-height: 1rem;
}

/* EXPERTISE */
.expertise__image-wrapper {
    overflow: hidden;
}
.expertise__image-wrapper img {
    width: 100%;
}

/* ABOUT */
.mission-vision-area .highlight-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0095da;
    color: white;
    padding: 2rem;
}

.mission-vision-area .highlight-card__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 18px;
    font-weight: bold;
}

.mission-vision-area .highlight-card p {
    color: white;
}

.about-team-intro {
    position: relative;
    overflow: hidden;
}

.about-team-intro .about-team-intro__images {
    position: absolute;
    bottom: -5%;
    right: 0;
    width: 50%;
    height: 15rem;
    transform: rotate(6deg);
    transform-origin: bottom right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
}

.about-team-intro .about-team-intro__images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 60rem) {
    .about-team-intro .about-team-intro__images {
        height: 100%;
        width: 33%;
        bottom: unset;
        top: 0;
    }
}

/* PUBLICATIONS */
.publications-search-form {
    width: 100%;
    position: relative;
    display: flex;
}

.publications-search-form input {
    width: 100%;
    box-shadow: 0 2px 100px rgba(116, 116, 116, 0.37);
    border: 1px solid transparent;
    border-radius: 1.5rem;
    background-color: white;
    padding: 10px 28px;
    min-height: 3rem;
}

.publications-search-form input:focus {
    border: 1px solid rgba(82, 116, 131, 0.25);
    box-shadow: 0 2px 100px rgba(116, 116, 116, 0.37);
}

.publications-search-form button {
    position: absolute;
    height: 3rem;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.publications-search-form button:hover {
    filter: brightness(75%);
}
