.button {
	padding: $padding * 0.05 $padding;
	font-family: $font-family-sans-serif;
	text-decoration: none;
	background-color: lighten(color(gray-light), 20%);
	display: inline-block;
	color: color(white);
	border-radius: rem-calc(40);
	font-size: rem-calc(12);
	transition: color 0.6s ease-out;

	.icon-caret-right, .icon-caret-left {
		font-size: rem-calc(15);
		position: relative;
		top: rem-calc(2);
		margin-top: rem-calc(-2);
		display: inline-block;
	}

	.icon-caret-right {
		padding-left: $padding * 0.5;
	}

	.icon-caret-left {
		padding-right: $padding * 0.5;
	}

	&-large {
		font-size: rem-calc(16);
	}

	&:hover {
		background-color: color(primary);
	}
}