$padding: rem-calc(20);
$grid-columns: 12;
$grid-columns-alt: 10;

$row-width: 1100;

$font-family-sans-serif: 'minerva-modern', helvetica, arial, lato, sans-serif;
$font-family-serif: 'karmina', century, serif;
$font-weight-light: 100;
$font-weight-normal: 200;
$font-weight-bold: 300;

$base-font-size-mobile: rem-calc(14);
$base-line-height-mobile: rem-calc(24);

$base-font-size: rem-calc(16);
$base-line-height: rem-calc(26);

$base-font-family: $font-family-sans-serif;