.partners-and-sponsors
  h5.partners-and-sponsors__title Our Partners &amp; Sponsors
  .sponsors-rail
      img(src="/assets/img/heineken-large.jpg" alt="Heineken")
      img(src="/assets/img/style-house-files.png" alt="Style House Files")
      img(src="/assets/img/sunlight.jpg" alt="Sunlight")
      img(src="/assets/img/nepc.jpg" alt="NEPC")
