@font-face {
  font-family: "iconfonts";
  src: url('/assets/fonts/iconfonts.eot');
  src: url('/assets/fonts/iconfonts.eot?#iefix') format('eot'),
    url('/assets/fonts/iconfonts.woff2') format('woff2'),
    url('/assets/fonts/iconfonts.woff') format('woff'),
    url('/assets/fonts/iconfonts.ttf') format('truetype'),
    url('/assets/fonts/iconfonts.svg#iconfonts') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon-styles {
  font-family: "iconfonts";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

   @if $filename==calendar {
      $char: "\E001";
    }

     @if $filename==facebook {
      $char: "\E002";
    }

     @if $filename==instagram {
      $char: "\E003";
    }

     @if $filename==left-arrow {
      $char: "\E004";
    }

     @if $filename==right-arrow {
      $char: "\E005";
    }

     @if $filename==twitter {
      $char: "\E006";
    }

     @if $filename==youtube {
      $char: "\E007";
    }

    @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    }

    @else {
      @include icon-styles;
    }

    content: icon-char($filename);
  }
}

.icon-calendar {
    @include icon(calendar);
  }

  .icon-facebook {
    @include icon(facebook);
  }

  .icon-instagram {
    @include icon(instagram);
  }

  .icon-left-arrow {
    @include icon(left-arrow);
  }

  .icon-right-arrow {
    @include icon(right-arrow);
  }

  .icon-twitter {
    @include icon(twitter);
  }

  .icon-youtube {
    @include icon(youtube);
  }

  