<div class="collection-filter__title">
  <small class="text-spaced-2 text-uppercase">Filter</small>
</div>
<div class="collection-filter__bar grid-x align-middle">
  <nav class="collection-filter__bar__nav cell medium-7 hide-scrollbar">
    <ul>
      <li><a href="/lwf2020/designers/filterA" title="A">A</a></li>
      <li><a href="/lwf2020/designers/filterB" title="B">B</a></li>
      <li><a href="/lwf2020/designers/filterC" title="C">C</a></li>
      <li><a href="/lwf2020/designers/filterD" title="D">D</a></li>
      <li><a href="/lwf2020/designers/filterE" title="E">E</a></li>
      <li><a href="/lwf2020/designers/filterF" title="F">F</a></li>
      <li><a href="/lwf2020/designers/filterG" title="G">G</a></li>
      <li><a href="/lwf2020/designers/filterH" title="H">H</a></li>
      <li><a href="/lwf2020/designers/filterI" title="I">I</a></li>
      <li><a href="/lwf2020/designers/filterK" title="K">K</a></li>
      <li><a href="/lwf2020/designers/filterJ" title="J">J</a></li>
      <li><a href="/lwf2020/designers/filterL" title="L">L</a></li>
      <li><a href="/lwf2020/designers/filterM" title="M">M</a></li>
      <li><a href="/lwf2020/designers/filterN" title="N">N</a></li>
      <li><a href="/lwf2020/designers/filterO" title="O">O</a></li>
      <li><a href="/lwf2020/designers/filterP" title="P">P</a></li>
      <li><a href="/lwf2020/designers/filterQ" title="Q">Q</a></li>
      <li><a href="/lwf2020/designers/filterR" title="R">R</a></li>
      <li><a href="/lwf2020/designers/filterS" title="S">S</a></li>
      <li><a href="/lwf2020/designers/filterT" title="T">T</a></li>
      <li><a href="/lwf2020/designers/filterU" title="U">U</a></li>
      <li><a href="/lwf2020/designers/filterV" title="V">V</a></li>
      <li><a href="/lwf2020/designers/filterW" title="W">W</a></li>
      <li><a href="/lwf2020/designers/filterX" title="X">X</a></li>
      <li><a href="/lwf2020/designers/filterY" title="Y">Y</a></li>
      <li><a href="/lwf2020/designers/filterZ" title="Z">Z</a></li>
    </ul>
  </nav>
  <div class="collection-filter__bar__search cell medium-4 medium-offset-1">
    <span class="icon-search collection-filter__bar__search__icon"></span>
    <input
      class="designer-search"
      type="text"
      name="search_designer"
      placeholder="search designers"
    />
  </div>
</div>
