{% import "_macros/_social-icons" as social %}
<footer class="footer grid-container">
  <div class="grid-x align-middle">
    {{ social.icons(false, "3x") }}
    <div class="cell sponsors medium-6 medium-text-right">
      <a href="https://www.stylehousefiles.com" title="Style House Files"
        ><img
          src="/assets/img/style-house-files-logo.png"
          alt="Style House Files"/></a
      ><a href="https://www.heineken.com" title="Heineken"
        ><img src="/assets/img/heineken-logo.png" alt="Heineken"
      /></a>
    </div>
  </div>
  <div class="grid-x margin-vertical-3">
    <ul class="cell medium-4 large-3">
      <li><a href="/">LFW</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/designer-applications">Designer Applications</a></li>
    </ul>
    <ul class="cell medium-4 large-3">
      <li><a href="/lfw2020/calendar">Calendar</a></li>
      <li><a href="/lfw2020/designers">Designers</a></li>
      <li><a href="/lfw2020/event-guide">Event Guide</a></li>
      <li><a href="/previous-seasons">Previous Seasons</a></li>
      <li><a href="/lfw2020/designers">Designers</a></li>
    </ul>
    <ul class="cell medium-4 large-3">
      <li><a href="/lfw2020/xretail">Xretail</a></li>
    </ul>
  </div>
  <div class="grid-x copyright padding-top-1">
    <small>© 2020 Lagos Fashion Week. All rights reserved</small>
  </div>
</footer>
