{% extends '_layout' %}

{% block content %}
	<div class="container container-extra-pad">
		<div class="row mt-pad">
			<div class="col m-4-12 s-hide">
				<a href="#" class="button prevPageBtn"><span class="icon icon-caret-left"></span>Previous Page</a>
			</div>
			<div class="col m-4-12 end">
				<h1 class="c-p beta text-center nmb">Credits</h1>
			</div>				
		</div>
	</div>

	<div class="container container-extra-pad">
		<div class="row text-center credits mt-pad">
			<div class="col m-6-12 m-offset-3 end">
				<h4 class="nmb">Creative Direction, Design &amp; Development</h4>
				<a href="http://www.witts-stratts.com" title="Witts &amp; Stratts" target="_blank">Witts &amp; Stratts</a>

				<div class="pbb">&nbsp;</div>

				<h4 class="nmb">Photography (Team)</h4>
				<a href="http://imagopro.photography/" title="Imago Pro - Photography by Seun Idowu" target="_blank">Imagopro - Photography by Seun Idowu</a>

				<div class="pbb">&nbsp;</div>
			</div>
		</div>
	</div>

<div class="pbb">&nbsp;</div>
{% endblock %}