{% extends '_layout' %}
{% css "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" %}
{% css "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" %}

{% block content %}
<div class="container container-extra-pad grid-container position-relative about">
	<div class="grid-x align-center">
		<div class="cell medium-8 text-center">
      <div class="pbb">&nbsp;</div>
      <div class="pbb">&nbsp;</div>
			<h1 class="c-p beta text-center nmb pbb" style="font-size: 5em;">404</h1>
			<h6>Sorry the page you are looking for does not exist. Please check your link and try again</h6>
      <div class="pbb">&nbsp;</div>
      <div class="pbb">&nbsp;</div>
		</div>
	</div>
</div>
{% endblock %}