<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
	<script src="https://use.typekit.net/chx6pfs.js"></script>
	<script>
		try {
Typekit.load({async: true});
} catch (e) {}
	</script>
	<!-- Compressed CSS-->
	<link rel="stylesheet" href="/assets/css/foundation.min.css">
	<link rel="stylesheet" href="/assets/css/fonts.css?09">
	<link rel="stylesheet" href="/assets/css/app.css?09">
	<link rel="stylesheet" href="/assets/css/main.css?09">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
</head>

<body class="striped-background striped--extended">
	<header class="header">
		<div class="grid-container position-relative">
			<div class="grid-x">
				<nav class="nav">
					<div class="menu">
						<div class="icon-circle"></div>
						<div class="icon"></div>
					</div>
					{{ craft.navigation.render('main', {
							ulClass: 'jsMenuElem',
							activeClass: 'active'
					}) }}
				</nav>
				<div class="logo mt-pad">
					<a href="/" title="GBC Biobaku &amp; Co."><img src="/assets/img/GBC-Gbenga-Biobaku-&amp;-Co.svg" alt="GBC - Gbenga Biokbaku &amp; Co" width="200"></a>
				</div>
			</div>
		</div>
	</header>
</body>
