//Defaults & Framework
@import 
	"bourbon",
	"compass/reset",
	"framework/global",
	"framework/settings",
	"framework/grid";

// Modules
@import 
	"modules/colors",
	"modules/typography",
	"modules/icons",
	"modules/lists",
	"modules/buttons",
	"modules/forms",
	"modules/spinner",
	"modules/fonts",
	"modules/loader",
	"modules/layout"
	;

// Components
@import 
	"components/hero",
	"components/accordion",
	"components/truncatedbox"
	;

// Sections

@import
	"sections/header",
	"sections/footer"
	;


html, body {
	width: 100% !important;
	overflow-x: hidden;
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}

// General Styles ----------------------------------------------------------------------------------------
// Dropdown Navigation
.dropdown {
	position: absolute;
	top: 0;
	z-index: 1000;
	background-color: color(white);
	min-width: 100%;
	top: 20%;
	box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.1);
	border-radius: rem-calc(5);
	display: none;
	overflow: hidden;

	@media #{$large-up} {
		min-width: 70%;
	}

	li {
		&:first-child {
			padding-top: rem-calc(20);
		}
		&:last-child {
			padding-bottom: rem-calc(10);
		}

		a {
			width: 100%;
			display: block;
			padding: $padding * 0.2 $padding;
			text-decoration: none;
			color: lighten(color(gray-light), 10%);
			text-align: center;
			font-size: rem-calc(14);
			text-align: center;
			
			&:hover {
				color: color(primary);
			}
		}
	}

	.dropdown-wrapper-right & {
		right: 0;

		/* a {
			text-align: right;
		} */
	}

	.dropdown-wrapper-left & {
		left: 0;
	}
}
.dropdown-wrapper {
	position: relative;
	z-index: 5000;

	> .button {
		z-index: 1001;
		position: relative;
	}
}


// ---------------------------------------------------------------------------------------------------------
.side-image-wrapper {
	max-height: rem-calc(350);
	overflow-y: hidden;

	@media #{$medium-up} {
		position: absolute;
		right: 0;
		top: 0;
		max-width: 45%;
		max-height: none;
	}

	.careers & {
		height: 100%;

		img {
			@media #{$medium-only} {
				height: 100%;
				max-width: none;
			}

			@media #{$large-up} {
				height: 100%;
				max-width: none;
			}
		}
	}
}

.careers {
	@media #{$large-up} {
		padding-bottom: $padding * 10;
	}
	.content {
		padding-top: $padding;
	}
}

// The team  ---------------------------------------------------------------------------------------------
.team {
	&_member {
		@extend .s-6-12;
		/* @extend .m-4-12; */
		@extend .l-3-12;
		overflow: hidden;
		position: relative;
		color: color(white);
		transition: opacity 0.8s ease-out, transform 0.8s ease-out;
		transform: center center;
		background-color: color(white);
		padding: rem-calc(1);

		@media #{$medium-only} {
			padding-bottom: 0;

			&:nth-child(2n+1) {
				padding-left: 0;
				clear: left;
			}

			&:nth-child(2n) {
				padding-right: 0;
			}
		}

		@media #{$small-only} {
			&:nth-child(2n+1) {
				padding-left: 0;
				clear: left;
			}

			&:nth-child(2n) {
				padding-right: 0;
			}
		}

		@media #{$large-up} {
			&:nth-child(4n+1) {
				padding-left: 0;
				clear: left;
			}

			&:nth-child(4n) {
				padding-right: 0;
			}
		}

		&:last-child {
			@extend .end;
		}

		&_profile {
			width: 100%;
			float: left;
			position: absolute;
			bottom: $padding;
			left: 0;
			padding-left: $padding;
			padding-right: $padding;
		}

		&_name {
			@extend .text-serif;
			@extend .beta;
			margin-bottom: 0 !important;
			max-width: 80%;
			position: relative;
			line-height: 1;

			@media #{$large-up} {
				font-size: rem-calc(32);
				line-height: 1.1;
			}
		}

		&_designation {
			@extend .text-sans;
			text-transform: uppercase;
			letter-spacing: rem-calc(3);
			margin-bottom: 0;
			position: relative;

			@media #{$small-only} {
				letter-spacing: rem-calc(1);
				font-size: rem-calc(10) !important;
			}
		}

		&:hover {
			img {
				transform: scale(1.15);
				filter: grayscale(0%);
			}
		}
	}

	&_image{
		float: left;
		overflow: hidden;
	}

	img {
		filter: grayscale(90%);
		transform-origin: top center;
		transition: all 2s ease-in-out;
		backface-visibility: hidden;
		transform: translateZ(0);
	}

	.overlay {
		position: absolute;
		background-image: linear-gradient(-180deg, rgba(35,109,197,0.00) 8%, #000000 100%);
		height: 60%;
		width: 100%;
		left: 0;
		bottom: 0;
		padding: $padding;
	}

	.icon {
		position: absolute;
		right: $padding;
		bottom: $padding;
		backface-visibility: hidden;
	}

	a {
		color: inherit;
	}

	&-fade {
		.team_member {
			opacity: 0.2;
		}
	}

	&-desktop {
		.overlay {
			visibility: hidden;
		}
	}

	.active {
		opacity: 1;
		//transform: scale(1.05);
		transform-orign: center center;
		z-index: 10000;
		box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.1);
	}
}



// ----------------------------------------------
.client-list {
	text-align: center;
	@extend .m-12-12;
	//@extend .m-offset-1;
	@extend .end;

	img {
		float: left;
		display: inline-block;
		padding: $padding;
		width: 50%;
		filter: grayscale(100%);
		opacity: 0.3;
		transition: all 0.5s ease-out;

		@media #{$medium-up} {
			float: none;
			width: 20%;
		}

		&:hover {
			filter: grayscale(0);
			opacity: 1;
		}
	}
}

.client-list_wrapper {
	width: 100%;
	float: left;
	position: relative;

	.client-list_contrrols {
		width: 100%;
		position: absolute;
		top: 31%;
		z-index: 10000;

		.icon {
			font-size: rem-calc(30);
			opacity: 0.3;
			transition: opacity 0.6s ease-out;
			padding-left: $padding;
			padding-right: $padding;
			margin-left: -$padding;
			z-index: 10000;
			cursor: pointer;
			display: inline-block;

			&:hover {
				opacity: 1;
			}

			&:last-child {
				float: right;
			}
		}

	}
}



// Profile --------------------------------------------------------
.side-content {
	overflow: hidden;

	@media #{$medium-only} {
		max-width: 60%;
		float: right;
		margin-left: $padding;
		padding-bottom: $padding;
		position: relative;
		margin-top: rem-calc(-170);

		img {
			float: right;
			margin-right: -$padding * 2;
		}
	} 

	@media #{$medium-up} {
		
	}

	@media #{$large-up} {
		position: absolute;
		top: 0;
		right: 0;
		max-width: 60%;
		max-width: 40%;
	}
}


// Publications ------------------------------------------------------------------------------------------------------------------
.publications {
	> div {
		@extend .col;
		@extend .m-6-12;
		@extend .l-4-12;
		background-color: lighten(adjust-hue(color(primary), 5%), 2%);
		border-bottom: rem-calc(1) solid color(white);
		padding: $padding;
		color: color(white);
		position: relative;
		min-height: rem-calc(350);

		@media #{$medium-up} {
			height: rem-calc(500);
		}

		p {
			color: color(white);
			@extend .text-sans;
			font-size: 85%;
			line-height: 1.6;
			opacity: 0.8;
		}

		@media #{$small-only} {
			border-bottom: rem-calc(1) solid color(white);
		}

		@media #{$medium-only} {
			&:nth-child(2n+2){
				border-right: none;
				border-left: rem-calc(2) solid color(white);
				box-sizing: border-box;
			}

		}
		
		@media #{$medium-up} {
			padding: $padding * 2;
		}

		@media #{$large-up} {
			&:nth-child(3n+2){
				border-right: rem-calc(1) solid color(white);
				border-left: rem-calc(1) solid color(white);
				box-sizing: border-box;
			}
		}

	}

	.publication_title {
		@extend .text-serif;
		@extend .gamma;
	}

	.publication_donwload-link {
		font-weight: bold;
		position: absolute;
		bottom: $padding;
		left: $padding;
		text-decoration: none;
		color: color(white);

		@media #{$medium-up} {
			bottom: $padding * 2;
			left: $padding * 2;
		}

		&:hover {
			color: lighten(color(primary), 40%);
		}
	}
}

.s-hide {
	@media #{$small-only} {
		display: none;
	}
}

.s-center {
	@media #{$small-only} {
		text-align: center;

		* {
			float: none;
			margin-top: $padding;
		}
	}
}

// Cases --------------------------------------------------------------------------------------
.cases {
	.case {
		@extend .col;
		@extend .s-6-12;
		@extend .m-4-12;
		@extend .l-3-12;
		background-color: lighten(adjust-hue(color(primary), 5%), 2%);
		border-bottom: rem-calc(1) solid color(white);
		border-right: rem-calc(1) solid color(white);
		min-height: rem-calc(250);
		padding-bottom: $padding * 2;
		color: color(white);
		padding: $padding;
		box-sizing: border-box;
		text-decoration: none;
		transition: background-color 0.3s ease-in-out;

		@media #{$small-only} {
			&:nth-child(2n) {
				border-right: none;
			}
		}

		@media #{$medium-only} {
			&:nth-child(3n) {
				border-right: none;
			}
		}

		@media #{$large-up} {
			&:nth-child(4n) {
				border-right: none;
			}
		}

		@media #{$medium-up} {
			padding: $padding * 2;
			min-height: rem-calc(320);
		}

		&:hover {
			background-color: adjust-hue(color(primary), 6%);
		}
	}
}

.case {
	position: relative;

	&_title {
		@extend .gamma;
		@extend .text-serif;
		@extend .nmb;
		padding-bottom: $padding * 0.2;
		line-height: 1.2;
	}

	&_client {
		@extend .text-sans;
		text-transform: uppercase;
		letter-spacing: rem-calc(1);
		color: color(white);
		font-size: rem-calc(12);
		line-height: 1.6;
		margin-top: 0;

		@media #{$medium-up} {
			font-size: rem-calc(14);
			line-height: 1.6;
		}
	}

	&_view {
		position: absolute;
		bottom: $padding;
		left: $padding;
		font-size: rem-calc(12);
		text-transform: uppercase;
		letter-spacing: rem-calc(1);

		@media #{$medium-up} {
			bottom: $padding * 2;
			left: $padding * 2;
			font-size: rem-calc(14);
		}

		.icon {
			display: inline-block;
			position: relative;
			top: rem-calc(2);
		}

	}
}

.cases-details {
	@media #{$small-only} {
		padding-left: $padding;
	}
}

// Areas of inter5st -------------------------------------------------------------------------------------------------------------
.areas-of-interest {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: $padding;
	padding-top: $padding;
	position: relative;

	@media #{$medium-up} {
		margin-top: $padding * 2;
	}

	&:before {
		content: '';
		width: rem-calc(100);
		height: rem-calc(1);
		background-color: lighten(color(gray-light), 30%);
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
	}

	.heading {
		@extend .omega;
		@extend .c-p;
		letter-spacing: rem-calc(2);
		text-transform: uppercase;
		font-weight: 600;
	}

	.list {
		letter-spacing: rem-calc(1);
		text-transform: uppercase;
		margin-left: 0;

		li {
			margin-bottom: $padding * 0.5;
			font-weight: 700;
			color: lighten(color(gray-light), 25%);
			font-size: 95%;
		}
	}
}

.disable-scroll {
	overflow: hidden;
}


// Sitemap
.site-links {
	> li {
		@extend .gamma;
		text-transform: uppercase;

		a {
			text-decoration: none;
			color: color(primary);
			letter-spacing: rem-calc(1);

			&:hover {
				font-weight: bold;
			}
		}

		ul {
			padding-top: $padding;
			padding-bottom: $padding;

			li {
				font-size: rem-calc(14);
				margin-bottom: 0;

				a {
					color: color(gray-light);

					&:hover {
						color: color(primary);
					}
				}
			}
		}	
	}
}